.App {
  text-align: center;
  /* border: 2px solid blue; */
  display: flex;
  flex-wrap: wrap;
}
.wrapper {
  text-align: center;
  width: 30rem;
  background-color: blue;
  margin: auto;
  background-color: #f48b29;
}
